#contenedor{
	width: 1010px;
	height: auto;
	margin: auto;
	position: relative;
}

#contenedorCentral{
	width: auto;
	height: 100%;
	background-color: #0F375A;
}

body{
  background-repeat: no-repeat;
	background-size: cover;
	
}

footer{
	width: 1100px;
	height: 80px;
	background: rgb(52, 76, 218);
	float: left;
	margin-top: 10px;
	text-align: left;
	margin-bottom: 20px;
	border-radius: 10px;
}
h1{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:#F0B429;
	font-size: 22px;
	text-align: center;
	height: 30px;
	width: 700px;
	float: right;
	padding-left: 30px;	
	padding-right: 100px;	
	padding-top: 10px;	
	padding-bottom: 10px;
} 

header{
	width: 1100px;
	height: 150px;
    background: rgba(255,255,255,3,5);
		display: inline-flex;
}

h2{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:#f1f1f1;
	font-size: 22px;
	text-align: center;
}


label{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:#f1f1f1;
	font-size: 18px;
	text-align: center;
}

img.imgLogo{
	width:  390px;
	height: 95px;
	margin-left: -32%;
	margin-top: 5%;
}

img.imgInicio{
	width:  1000px;
	height: 800px;
	margin-right: 38%;
}

.menu li{
	/*formato de menu */
	float: right;
	width: 130px;
	list-style-type: none;
	padding: 10px;
	background: rgb(203, 210, 219);
	margin-top: 54px;
	border-radius: 0px 0px 0 0;
	box-shadow: 0  0 2px white inset;
	text-align: center;
	color:white; 
	text-decoration: none;
	cursor: pointer;
	margin: auto;
	margin-right: 2px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu li:nth-child(1n+1) {
	background: #F0B429;
}
.menu li:nth-child(2n+1) {
	background: #F47920;
}
.menu li:nth-child(3n+1) {
background: #50B748;
}
.menu li:nth-child(4n+1) {
	background: #A54686;
}
.menu li:nth-child(5n+1) {
	background: #43C7F4;
}

.menu li.activo{
	/*formato de menu */
	background: rgb(149, 159, 172);
	border-radius: 0px 0px 0 0;
	cursor: pointer;
	margin-top: 22%;
	margin: auto;
	margin-right: 2px;
}
nav{
	width: 940px;
	height: 60px;
	border-radius: 10px;
	alignment-adjust: after-edge;
	margin-top: 2%;
	margin-right: 2px;
}
ul{
	margin: auto;
	padding-top: 4px;
	margin-top: 22%;
	margin: auto;
	margin-right: 2px;
}

.menu:link{ color:white; text-decoration: none;}
.menu:visited{ color:white; text-decoration: none;}
.menu:hover{
	color: #005883;
	text-decoration: none;
	text-shadow: 0 0 13px white;
	margin-top: 12%;
	margin: auto;
	margin-right: 2px;
}
.footContacto {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
    text-align: left;
	font-size:9px;
}


.contenido-submenu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.contenido-submenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-header:hover .contenido-submenu{display: block;}
.contenido-submenu a:hover {background-color: #ddd;}

.divHeader{
	background-color: #F0B429;
	width: 1220px;
	height: 10px;
	margin-top: 5%;
	margin-right: -10%;
}



